.html
{
	background: #000000 url("../images/stardust_hard.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 827.6738095238095px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 75px;
}

#u1205
{
	z-index: 101;
	width: 1160px;
	height: 37px;
	top: 0px;
	left: -100px;
}

#u1212
{
	z-index: 124;
	width: 98px;
	height: 37px;
	top: 0px;
	left: 487px;
}

#u1214
{
	z-index: 125;
	width: 101px;
	height: 37px;
	top: 0px;
	left: 585px;
}

#u1216
{
	z-index: 126;
	width: 103px;
	height: 37px;
	top: 0px;
	left: 686px;
}

#u1218
{
	z-index: 127;
	width: 99px;
	height: 37px;
	top: 0px;
	left: 789px;
}

#u1212:hover,#u1214:hover,#u1216:hover,#u1218:hover
{
	margin: 0px;
}

#u615
{
	z-index: 102;
	width: 30px;
	top: 8px;
	left: 37px;
}

#u435-4
{
	z-index: 108;
	width: 109px;
	min-height: 27px;
	top: 10px;
	left: 71px;
}

#u392-4
{
	z-index: 104;
	width: 68px;
	min-height: 27px;
	top: 10px;
	left: 505px;
}

#u408-4
{
	z-index: 112;
	width: 73px;
	min-height: 27px;
	top: 10px;
	left: 602px;
}

#u410-4
{
	z-index: 120;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 704px;
}

#u412-4
{
	z-index: 116;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 805px;
}

#u1211
{
	z-index: 128;
	width: 1160px;
	height: 1px;
	top: 37px;
	left: -100px;
}

#pu699
{
	width: 0.01px;
	margin-left: 322px;
	position: relative;
}

#u699
{
	z-index: 47;
	width: 104px;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#u699_clip
{
	overflow: hidden;
	width: 104px;
	height: 32px;
}

#u699_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -214px -31px -258px;
}

#u698-7
{
	z-index: 55;
	width: 423px;
	min-height: 43px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u698-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u698-2
{
	font-size: 24px;
	line-height: 29px;
}

#u698,#u698-3
{
	line-height: 17px;
}

#u698-4
{
	font-size: 18px;
	line-height: 22px;
}

#pu980
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 83px;
	position: relative;
}

#u980
{
	z-index: 49;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u980_clip
{
	overflow: hidden;
	width: 52px;
	height: 24px;
}

#u980_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -107px -23px -130px;
}

#u986
{
	z-index: 51;
	width: 107px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#u986_clip
{
	overflow: hidden;
	width: 107px;
	height: 24px;
}

#u986_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -220px -23px -265px;
}

#u992
{
	z-index: 53;
	width: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
}

#u992_clip
{
	overflow: hidden;
	width: 77px;
	height: 24px;
}

#u992_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -157px -23px -190px;
}

#u962-39
{
	z-index: 62;
	width: 824px;
	min-height: 544px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u962-2,#u962-3
{
	text-align: center;
}

#pu935
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u935
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u935_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu944-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 182px;
}

#u944-4
{
	z-index: 13;
	width: 186px;
	min-height: 35px;
}

#u1083
{
	z-index: 5;
	width: 279px;
	margin-top: 8px;
}

#u1098
{
	z-index: 11;
	width: 279px;
	margin-top: 2px;
}

#pu1089
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 463px;
}

#u1089
{
	z-index: 7;
	width: 279px;
}

#u1092
{
	z-index: 9;
	width: 279px;
	margin-top: 2px;
}

#u1083_clip,#u1098_clip,#u1089_clip,#u1092_clip
{
	width: 279px;
	height: 42px;
}

#u1083_img,#u1098_img,#u1089_img,#u1092_img
{
	margin: -1px -574px -40px -693px;
}

#u1101-6
{
	z-index: 17;
	width: 186px;
	min-height: 35px;
	margin-left: 22px;
	margin-top: 22px;
}

#u939
{
	z-index: 3;
	width: 166px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 809px;
}

#u946-4
{
	z-index: 23;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 225px;
}

#u951-4
{
	z-index: 27;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 224px;
}

#u948-4
{
	z-index: 31;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 508px;
}

#u952-4
{
	z-index: 35;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 508px;
}

#u1102
{
	z-index: 39;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 185px;
}

#u1107
{
	z-index: 41;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 466px;
}

#u1112
{
	z-index: 43;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 185px;
}

#u1117
{
	z-index: 45;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 466px;
}

#page .verticalspacer
{
	clear: both;
}

