.html
{
	background: #7F7F7F url("../images/stardust.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1418px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 75px;
}

#u390
{
	z-index: 190;
	width: 912px;
	top: 0px;
	left: 24px;
}

#u615
{
	z-index: 192;
	width: 30px;
	top: 6px;
	left: 37px;
}

#u435-4
{
	z-index: 198;
	width: 109px;
	min-height: 27px;
	top: 10px;
	left: 71px;
}

#u392-4
{
	z-index: 194;
	width: 68px;
	min-height: 27px;
	top: 10px;
	left: 505px;
}

#u408-4
{
	z-index: 202;
	width: 73px;
	min-height: 27px;
	top: 10px;
	left: 602px;
}

#u410-4
{
	z-index: 210;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 704px;
}

#u412-4
{
	z-index: 206;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 805px;
}

#pu699
{
	width: 0.01px;
	margin-left: 283px;
	position: relative;
}

#u699
{
	z-index: 47;
	width: 191px;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u699_clip
{
	overflow: hidden;
	width: 191px;
	height: 32px;
}

#u699_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -394px -31px -475px;
}

#u698-9
{
	z-index: 55;
	width: 423px;
	min-height: 43px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u698-7
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u698-2,#u698-4
{
	font-size: 24px;
	line-height: 29px;
}

#u698,#u698-3,#u698-5
{
	line-height: 17px;
}

#u698-6
{
	font-size: 18px;
	line-height: 22px;
}

#pu980
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 83px;
	position: relative;
}

#u980
{
	z-index: 49;
	width: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u980_clip
{
	overflow: hidden;
	width: 52px;
	height: 24px;
}

#u980_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -107px -23px -130px;
}

#u986
{
	z-index: 51;
	width: 107px;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
}

#u986_clip
{
	overflow: hidden;
	width: 107px;
	height: 24px;
}

#u986_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -220px -23px -265px;
}

#u992
{
	z-index: 53;
	width: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1305px;
}

#u992_clip
{
	overflow: hidden;
	width: 77px;
	height: 24px;
}

#u992_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -157px -23px -190px;
}

#u962-120
{
	z-index: 64;
	width: 824px;
	min-height: 1804px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u962-2,#u962-3
{
	text-align: center;
}

#u963
{
	z-index: 184;
	width: 439px;
	position: relative;
	margin-right: -10000px;
	margin-top: 268px;
	left: 199px;
}

#u974
{
	z-index: 186;
	width: 439px;
	position: relative;
	margin-right: -10000px;
	margin-top: 649px;
	left: 199px;
}

#u1052
{
	z-index: 188;
	width: 142px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1443px;
	left: 6px;
}

#pu935
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u935
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u935_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu944-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 182px;
}

#u944-4
{
	z-index: 13;
	width: 186px;
	min-height: 35px;
}

#u1083
{
	z-index: 5;
	width: 279px;
	margin-top: 8px;
}

#u1098
{
	z-index: 11;
	width: 279px;
	margin-top: 2px;
}

#pu1089
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 463px;
}

#u1089
{
	z-index: 7;
	width: 279px;
}

#u1092
{
	z-index: 9;
	width: 279px;
	margin-top: 2px;
}

#u1083_clip,#u1098_clip,#u1089_clip,#u1092_clip
{
	width: 279px;
	height: 42px;
}

#u1083_img,#u1098_img,#u1089_img,#u1092_img
{
	margin: -1px -574px -40px -693px;
}

#u1101-6
{
	z-index: 17;
	width: 186px;
	min-height: 35px;
	margin-left: 22px;
	margin-top: 22px;
}

#u939
{
	z-index: 3;
	width: 166px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 809px;
}

#u390_img,#u963_img,#u939_img
{
	padding-right: 1px;
}

#u946-4
{
	z-index: 23;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 225px;
}

#u951-4
{
	z-index: 27;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 224px;
}

#u948-4
{
	z-index: 31;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 508px;
}

#u952-4
{
	z-index: 35;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 508px;
}

#u1102
{
	z-index: 39;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 185px;
}

#u1107
{
	z-index: 41;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 466px;
}

#u1112
{
	z-index: 43;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 185px;
}

#u1117
{
	z-index: 45;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 466px;
}

#page .verticalspacer
{
	clear: both;
}

