.html
{
	background: #000000 url("../images/stardust_hard.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 268px;
	min-height: 86px;
	margin-left: auto;
	margin-right: auto;
	padding: 251px 345px 182px 347px;
}

#u1263
{
	z-index: 6;
	width: 1160px;
	height: 37px;
	top: 0px;
	left: -100px;
}

#u1265
{
	z-index: 29;
	width: 98px;
	height: 37px;
	top: 0px;
	left: 487px;
}

#u1260
{
	z-index: 30;
	width: 101px;
	height: 37px;
	top: 0px;
	left: 585px;
}

#u1269
{
	z-index: 31;
	width: 103px;
	height: 37px;
	top: 0px;
	left: 686px;
}

#u1267
{
	z-index: 32;
	width: 99px;
	height: 37px;
	top: 0px;
	left: 789px;
}

#u1265:hover,#u1260:hover,#u1269:hover,#u1267:hover
{
	margin: 0px;
}

#u1257
{
	z-index: 7;
	width: 30px;
	top: 8px;
	left: 37px;
}

#u1266-4
{
	z-index: 13;
	width: 109px;
	min-height: 27px;
	top: 10px;
	left: 71px;
}

#u1264-4
{
	z-index: 9;
	width: 68px;
	min-height: 27px;
	top: 10px;
	left: 505px;
}

#u1262-4
{
	z-index: 17;
	width: 73px;
	min-height: 27px;
	top: 10px;
	left: 602px;
}

#u1268-4
{
	z-index: 25;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 704px;
}

#u1261-4
{
	z-index: 21;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 805px;
}

#u1259
{
	z-index: 33;
	width: 1160px;
	height: 1px;
	top: 37px;
	left: -100px;
}

#pu1134
{
	width: 0.01px;
	position: relative;
}

#u1134
{
	z-index: 2;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1132-4
{
	z-index: 34;
	width: 229px;
	min-height: 27px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 40px;
}

#pu1136
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 6px;
	position: relative;
}

#u1136
{
	z-index: 4;
	width: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1133-4
{
	z-index: 38;
	width: 127px;
	min-height: 27px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 42px;
}

#page .verticalspacer
{
	clear: both;
}

