.html
{
	background: #000000 url("../images/stardust_hard.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 828px;
	margin-left: auto;
	margin-right: auto;
}

#pu1205
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#pu1205_position_content
{
	margin-top: 62px;
	margin-bottom: -24px;
}

#u1205
{
	z-index: 64;
	width: 1160px;
	height: 37px;
	top: 0px;
	left: -100px;
}

#u1211
{
	z-index: 91;
	width: 1160px;
	height: 1px;
	top: 37px;
	left: -100px;
}

#pu910
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u910
{
	z-index: 47;
	width: 920px;
	position: relative;
	margin-right: -10000px;
}

#u799
{
	z-index: 49;
	width: 709px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3286px;
	left: 107px;
}

#u915-6
{
	z-index: 51;
	width: 825px;
	min-height: 67px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 48px;
}

#u917-7
{
	z-index: 57;
	width: 825px;
	min-height: 67px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 5129px;
	left: 48px;
}

#u917-2
{
	font-size: 18px;
	line-height: 35px;
}

#u917-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u917-3
{
	font-size: 18px;
	text-decoration: underline;
	line-height: 35px;
}

#pu615
{
	width: 0.01px;
	padding-bottom: 37px;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u615
{
	z-index: 65;
	width: 30px;
	top: 8px;
	left: 37px;
}

#u435-4
{
	z-index: 71;
	width: 109px;
	min-height: 27px;
	top: 10px;
	left: 71px;
}

#u1212
{
	z-index: 87;
	width: 98px;
	height: 37px;
	top: 0px;
	left: 487px;
}

#u392-4
{
	z-index: 67;
	width: 68px;
	min-height: 27px;
	top: 10px;
	left: 505px;
}

#u1214
{
	z-index: 88;
	width: 101px;
	height: 37px;
	top: 0px;
	left: 585px;
}

#u408-4
{
	z-index: 75;
	width: 73px;
	min-height: 27px;
	top: 10px;
	left: 602px;
}

#u1216
{
	z-index: 89;
	width: 103px;
	height: 37px;
	top: 0px;
	left: 686px;
}

#u410-4
{
	z-index: 83;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 704px;
}

#u1218
{
	z-index: 90;
	width: 99px;
	height: 37px;
	top: 0px;
	left: 789px;
}

#u1212:hover,#u1214:hover,#u1216:hover,#u1218:hover
{
	margin: 0px;
}

#u412-4
{
	z-index: 79;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 805px;
}

#u1385
{
	z-index: 92;
	width: 50px;
	height: 50px;
	position: fixed;
	top: 62px;
	left: 960px;
	background: transparent url("../images/btn_%d1%81%d0%bb%d0%b5%d0%b4.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1385:hover
{
	margin: 0px;
	background: transparent url("../images/btn_%d1%81%d0%bb%d0%b5%d0%b42.jpg") no-repeat left top;
	background-size: contain !important;
}

#pu935
{
	width: 0.01px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5526px;
	left: -100px;
}

#u935
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u935_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu944-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 182px;
}

#u944-4
{
	z-index: 13;
	width: 186px;
	min-height: 35px;
}

#u1083
{
	z-index: 5;
	width: 279px;
	margin-top: 8px;
}

#u1098
{
	z-index: 11;
	width: 279px;
	margin-top: 2px;
}

#pu1089
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 463px;
}

#u1089
{
	z-index: 7;
	width: 279px;
}

#u1092
{
	z-index: 9;
	width: 279px;
	margin-top: 2px;
}

#u1083_clip,#u1098_clip,#u1089_clip,#u1092_clip
{
	width: 279px;
	height: 42px;
}

#u1083_img,#u1098_img,#u1089_img,#u1092_img
{
	margin: -1px -574px -40px -693px;
}

#u1101-6
{
	z-index: 17;
	width: 186px;
	min-height: 35px;
	margin-left: 22px;
	margin-top: 22px;
}

#u939
{
	z-index: 3;
	width: 166px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 809px;
}

#u946-4
{
	z-index: 23;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 225px;
}

#u951-4
{
	z-index: 27;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 224px;
}

#u948-4
{
	z-index: 31;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 508px;
}

#u952-4
{
	z-index: 35;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 508px;
}

#u1102
{
	z-index: 39;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 185px;
}

#u1107
{
	z-index: 41;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 466px;
}

#u1112
{
	z-index: 43;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 185px;
}

#u1117
{
	z-index: 45;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 466px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -5525px;
}

