.html
{
	background: #000000 url("../images/stardust_hard.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 828px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 65px;
	margin-bottom: -1px;
}

#u1205
{
	z-index: 105;
	width: 1160px;
	height: 37px;
	top: 0px;
	left: -100px;
}

#u1212
{
	z-index: 128;
	width: 98px;
	height: 37px;
	top: 0px;
	left: 487px;
}

#u1214
{
	z-index: 129;
	width: 101px;
	height: 37px;
	top: 0px;
	left: 585px;
}

#u1216
{
	z-index: 130;
	width: 103px;
	height: 37px;
	top: 0px;
	left: 686px;
}

#u1218
{
	z-index: 131;
	width: 99px;
	height: 37px;
	top: 0px;
	left: 789px;
}

#u1212:hover,#u1214:hover,#u1216:hover,#u1218:hover
{
	margin: 0px;
}

#u615
{
	z-index: 106;
	width: 30px;
	top: 8px;
	left: 37px;
}

#u435-4
{
	z-index: 112;
	width: 109px;
	min-height: 27px;
	top: 10px;
	left: 71px;
}

#u392-4
{
	z-index: 108;
	width: 68px;
	min-height: 27px;
	top: 10px;
	left: 505px;
}

#u408-4
{
	z-index: 116;
	width: 73px;
	min-height: 27px;
	top: 10px;
	left: 602px;
}

#u410-4
{
	z-index: 124;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 704px;
}

#u412-4
{
	z-index: 120;
	width: 72px;
	min-height: 27px;
	top: 10px;
	left: 805px;
}

#u1211
{
	z-index: 132;
	width: 1160px;
	height: 1px;
	top: 37px;
	left: -100px;
}

#pu643
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u643
{
	z-index: 47;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #FF8960;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
}

#u1179
{
	z-index: 71;
	width: 800px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 155px;
}

#u1204
{
	z-index: 73;
	width: 334px;
	height: 263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 387px;
}

#pu467
{
	width: 0.01px;
	margin-left: 91px;
	margin-top: 59px;
	position: relative;
}

#u467
{
	z-index: 74;
	width: 398px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 115px;
}

#u467_clip
{
	overflow: hidden;
	width: 398px;
	height: 39px;
}

#u467_img
{
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	margin: -1px -261px -37px -452px;
}

#u1240
{
	z-index: 76;
	width: 274px;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 493px;
}

#u1240_clip
{
	overflow: hidden;
	width: 274px;
	height: 27px;
}

#u1240_img
{
	opacity: 0.71;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=71)";
	filter: alpha(opacity=71);
	margin: -1px -180px -26px -311px;
}

#u487
{
	z-index: 78;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
	left: 279px;
}

#u487_clip
{
	overflow: hidden;
	width: 170px;
	height: 35px;
}

#u487_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -350px -34px -423px;
}

#u472
{
	z-index: 80;
	width: 93px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 97px;
}

#u472_clip
{
	overflow: hidden;
	width: 93px;
	height: 25px;
}

#u472_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -172px -33px -84px;
}

#u1243
{
	z-index: 82;
	width: 268px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

#u1243_clip
{
	overflow: hidden;
	width: 268px;
	height: 26px;
}

#u1243_img
{
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin: -1px -78px -33px -110px;
}

#u481-6
{
	z-index: 84;
	width: 293px;
	min-height: 63px;
	text-align: left;
	letter-spacing: -1px;
	color: #FFFFFF;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 159px;
	left: 280px;
}

#u481-4
{
	font-size: 30px;
	line-height: 36px;
}

#u461-15
{
	z-index: 90;
	width: 847px;
	min-height: 199px;
	letter-spacing: 0px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u461-2
{
	color: #FFFFFF;
	line-height: 17px;
}

#u461-3
{
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
}

#u461-5,#u461-9,#u461-13
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u461,#u461-4,#u461-7,#u461-10
{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
}

#u481-2,#u461-11
{
	font-size: 18px;
	line-height: 22px;
}

#u461-6,#u461-8,#u461-12
{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 29px;
}

#pu713
{
	width: 0.01px;
	left: -100px;
	margin-top: 85px;
	position: relative;
}

#u713
{
	z-index: 49;
	width: 1160px;
	height: 350px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FF8960 url("../images/%d0%bf%d1%80%d0%b5%d0%b2%d1%8c%d1%8e%20%d1%88%d1%80%d0%b8%d1%84%d1%82-u713-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u785
{
	z-index: 50;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u785:hover
{
	background-color: #D8F2F0;
	background-color: rgba(0, 169, 157, 0.15);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 169, 157, 0.15);
}

#u900
{
	z-index: 56;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 773px;
}

#u901-4
{
	z-index: 59;
	width: 193px;
	min-height: 67px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#pu748
{
	width: 0.01px;
	left: -100px;
	margin-top: 57px;
	position: relative;
}

#u748
{
	z-index: 51;
	width: 1160px;
	height: 350px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FF8960 url("../images/%d0%bf%d1%80%d0%b5%d0%b2%d1%8c%d1%8e%20uphire-u748-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u793
{
	z-index: 53;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u793:hover
{
	background-color: #D8F2F0;
	background-color: rgba(0, 169, 157, 0.15);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 169, 157, 0.15);
}

#u905
{
	z-index: 57;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 773px;
}

#u904-4
{
	z-index: 63;
	width: 193px;
	min-height: 67px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#pu777
{
	width: 0.01px;
	left: -100px;
	margin-top: 63px;
	position: relative;
}

#u777
{
	z-index: 48;
	width: 1160px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
}

#u776
{
	z-index: 52;
	width: 1160px;
	height: 350px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FF8960 url("../images/%d0%bf%d1%80%d0%b5%d0%b2%d1%8c%d1%8e%20%d1%81%d1%82%d0%b8%d1%80%d0%b0%d0%bb%d0%ba%d0%b0-u776-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u795
{
	z-index: 54;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u795:hover
{
	background-color: #D8F2F0;
	background-color: rgba(0, 169, 157, 0.15);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(0, 169, 157, 0.15);
}

#u643_align_to_page,#u785_align_to_page,#u793_align_to_page,#u795_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u909
{
	z-index: 58;
	width: 213px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 6px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 773px;
}

#u908-4
{
	z-index: 67;
	width: 193px;
	min-height: 67px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 10px;
}

#u1003
{
	z-index: 55;
	width: 1160px;
	height: 141px;
	position: relative;
	left: -100px;
	margin-top: 39px;
}

#pu935
{
	width: 0.01px;
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#u935
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u935_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu944-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 182px;
}

#u944-4
{
	z-index: 13;
	width: 186px;
	min-height: 35px;
}

#u1083
{
	z-index: 5;
	width: 279px;
	margin-top: 8px;
}

#u1098
{
	z-index: 11;
	width: 279px;
	margin-top: 2px;
}

#pu1089
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 463px;
}

#u1089
{
	z-index: 7;
	width: 279px;
}

#u1092
{
	z-index: 9;
	width: 279px;
	margin-top: 2px;
}

#u1083_clip,#u1098_clip,#u1089_clip,#u1092_clip
{
	width: 279px;
	height: 42px;
}

#u1083_img,#u1098_img,#u1089_img,#u1092_img
{
	margin: -1px -574px -40px -693px;
}

#u1101-6
{
	z-index: 17;
	width: 186px;
	min-height: 35px;
	margin-left: 22px;
	margin-top: 22px;
}

#u939
{
	z-index: 3;
	width: 166px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 809px;
}

#u946-4
{
	z-index: 23;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 225px;
}

#u951-4
{
	z-index: 27;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 224px;
}

#u948-4
{
	z-index: 31;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 508px;
}

#u952-4
{
	z-index: 35;
	width: 247px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 141px;
	left: 508px;
}

#u1102
{
	z-index: 39;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 185px;
}

#u1107
{
	z-index: 41;
	width: 40px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 466px;
}

#u1112
{
	z-index: 43;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 185px;
}

#u1117
{
	z-index: 45;
	width: 40px;
	margin-right: -10000px;
	margin-top: 89px;
	left: 466px;
}

#page .verticalspacer
{
	clear: both;
}

