#u1263
{
	border-style: none;
	border-color: transparent;
	position: fixed;
	background: #E5E5E5 url("../images/exclusive_paper.jpg") repeat left top;
}

#u1265
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1265:hover
{
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
}

#u1260
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1260:hover
{
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
}

#u1269
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1269:hover
{
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
}

#u1267
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1267:hover
{
	background-color: #CCCCCC;
	background-color: rgba(0, 0, 0, 0.2);
	-pie-background: rgba(0, 0, 0, 0.2);
}

#u1257
{
	position: fixed;
}

#u1262-4,#u1268-4
{
	color: #3A3A3A;
	font-size: 14px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: bold;
	position: fixed;
}

#u1266-4,#u1264-4,#u1261-4
{
	color: #3A3A3A;
	font-size: 14px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
	position: fixed;
}

#u1259
{
	border-style: none;
	border-color: transparent;
	background-color: #A6A6A6;
	position: fixed;
}

